@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(322, 100%, 98%);
    --light-red: hsl(0, 100%, 63%);
    --dark-cyan: hsl(192, 100%, 9%);
    --gayish-blue: hsl(208, 11%, 55%);
}
/* Styles pour tous*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
}
main{
    position: relative;
    padding-bottom: 200px;
}
body p {
    margin: 10px 10px 10px 0;
    width: 80%;
    color: var(--dark-cyan);
    font-weight: 600;
}
h1{
    font-size: 5em;
    font-weight: 600;
}
h2{
    font-size: 3em;
    font-weight: 600;
}

/* Header Section */

header {
    font-family: "Poppins", sans-serif;
    background-image: url(images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-color: var(--light-pink);
    min-height: 100vh;
}

nav {
    padding: 70px;
    display: flex;
    justify-content: space-between;
}

.bouton-nav {
    cursor: pointer;
    font-weight: 600;
    border: none;
    background-color: #ffffff;
    color: var(--dark-cyan);
    border-radius: 25px;
    box-shadow: 0px 0px 6px 2px rgba(86, 86, 86, 0.3);
    padding: 15px 50px;
}

.header-container {
    padding: 0px 70px 70px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    gap: 20px;
}

.get-start {
    font-weight: 600;
    border: none;
    outline: none;
    background-color: var(--pink);
    color: #ffffff;
    border-radius: 40px;
    cursor: pointer;
    padding: 20px 100px;
    margin-top: 25px;
    font-size: 25px;
}

.get-start:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    background-color: #F79DE5;
}

.header-section-img {
    width: 50%;
    height: auto;
}

/* Main Section */

.main-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 50px 150px;
    color: #000000;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px rgba(86, 86, 86, 0.3);
}
.main-card-img {
    width: 40%;
    height: auto;
}

.card-flottante {
    text-align: center;
    border-radius: 55px;
    box-shadow: 0px 0px 6px 2px rgba(86, 86, 86, 0.3);
    padding: 50px;
    width: 30vw;
    margin: auto;
    position: absolute;
    background-color: #ffffff;
    left: 35vw;
    bottom: -150px;
}

/* Footer Section */
footer{
    background-color: hsl(192, 100%, 9%);
}

.footer {
    color: #fff;
    display: flex;
    gap: 100px;
    padding: 200px 40px 70px 40px;
}
.footer-left, .footer-right{
    width: 50%;
}
.footer-left{
    display: flex;
    gap: 20px;
}
.footer-logo img{
    width: 150px;
    height: 250px;
}
.footer-address{
    display: flex;
    flex-direction: column;
}
.footer-address p{
    color: #fff;
    width: 40%;
}
footer a{
    color: #fff;
    text-decoration: none;
}
.footer-right{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.social-items{
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-items i{
    font-size: 1.5em;
}
.social-items:hover{
    border: 2px solid var(--pink);
}
.custom-icon:hover{
    color: var(--pink);
}
.copyr{
    color: #fff;
    width: 100%;
    text-align: right;
    margin: 0;
    padding: 10px;
}

@media (max-width: 1440px) {
    h1{
        font-size: 3em;
    }
    h2{
        font-size: 2.2em;
    }
    body p{
        width: 100%;
        font-weight: 400;
    }
    .get-start{
        padding: 20px 50px;
        font-size: 15px;
    }
    .card-flottante{
        width: 45%;
        left: 25vw;
    }
    .footer-address p{
        width: 70%;
    }
    
}
@media (max-width: 1024px) {
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1.5em;
    }
    body p{
        width: 100%;
        font-weight: 300;
    }
    .header-container{
        margin-top: 250px;
    }
    .get-start{
        padding: 20px 50px;
        font-size: 15px;
    }
    .card-flottante{
        width: 45%;
        left: 30vw;
    }
    .footer-left{
        width: 70%;
    }
    .footer-right{
        width: 30%;
    }
    .footer-address p{
        width: 70%;
    }
}

@media (max-width: 768px) {
    header{
        background-image: url(./images/bg-hero-mobile.svg);
        width: 100vw;
    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    nav img{
        width: 30vw;
    }
    .header-container{
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
        gap: 80px;
    }
    .header-container img{
        width: 80vw;
    }
    .main-card{
        flex-direction: column;
        text-align: center;
        gap: 20px;
        margin: 50px 50px;
    }
    .column-reverse{
        flex-direction: column-reverse;
    }
    .main-card-img{
        width: 80vw;
    }

    .card-flottante{
        width: 60%;
        left: 20vw;
    }
    .footer, .footer-left, .footer-right{
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .footer-logo{
        display: flex;
        justify-content: left;
    }
    .footer-logo img{
        width: 150px;
        height: 50px;
    }
    .footer-address{
        align-items: center;
    }
    .footer-address-paragraph{
        display: flex;
        align-items: center;
        gap: 10px;           
        margin: 0; 
    }
    .footer-right{
        flex-direction: row;
    }
    .copyr{
        text-align: center;
    }

}
@media (max-width: 425px) {
    
    header{
        min-height: 100vh;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 20px;
    }
    .main-card{
        margin: 25px 25px;
    }
    .get-start{
        padding: 10px 30px;
    }
    .bouton-nav{
        padding: 8px 15px;
    }
    .main-card-img{
        width: 250px;
    }
    .card-flottante{
        width: 80%;
        padding: 30px;
        left: 10vw;
        bottom: -80px;
    }
    .header-container{
        margin: 0;
        padding: 0 20px 20px 20px;
        height: auto;
    }
    .card-flottante h2{
        font-size: 20px;
    }
}